/*styles go here...*/
/**/
body {
	color: beige ;
	background: #111 ;
	margin-bottom: 200px ;
    	font-family: sans-serif ;
}

h1 {
	text-align: center ;
	color: lightgreen ;
}

header h1 {
	font-size: 40px ;
}

h2 {
	text-align: center ;
	color: deeppink ;
	font-variant: small-caps;
	font-size: 24pt ;
	border-bottom: dashed #ddd 1px ;
	max-width: 500px ;
	margin: 1em auto ;
}




